{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/createTagMacro.njk" import createTag %}
<h2 class="govuk-heading-l govuk-!-margin-top-8">History</h2>
{% if accountHistory and accountHistory.length %}
    {% for transaction in accountHistory %}

      {% set transactionRows = [
      { key: { text: "Component" },  value: { text: transaction.componentId } },
      { key: { text: "Reason" },     value: { text: transaction.interventionReason } },
      { key: { text: "Originating Component" }, value: { text: transaction.originatingComponent if transaction.originatingComponent else "N/A" } },
      { key: { text: "Code" },       value: { text: transaction.interventionCode if transaction.interventionCode else "N/A" } },
      { key: { text: "Requester ID" }, value: { text: transaction.requesterId if transaction.requesterId else "N/A" } }
      ] %}


{% if transaction.interventionEvents.length %}
  {% set eventRows = [] %}
  {% for event in transaction.interventionEvents %}
  {% if event.interventionState == "ACTIVE" %}
  {% set stateColour = "red" %}
  {% elif event.interventionState == "MITIGATED" %}
  {% set stateColour = "green" %}
  {% elif event.interventionState == "REMOVED" %}
  {% set stateColour = "grey" %}
  {% elif event.interventionState == "SUPERSEDED" %}
  {% set stateColour = "orange" %}
  {% elif event.interventionState == "IGNORED" %}
  {% set stateColour = "yellow" %}
  {% else %}
  {% set stateColour = "blue" %}
  {% endif %}
  {% set eventRows = eventRows.concat([{
  key: { text: event.interventionName },
  value: { html: '<strong class="govuk-tag govuk-tag--' + stateColour + '">' + event.displayState + '</strong>' }
  }]) %}
  {% endfor %}
{% endif %}

      {% set cardTitleText %}
        {% if transaction.interventionName %}
            interventionTypeMap[transaction.interventionName]
        {% else %}
            Unknown
        {% endif %}
      {% endset %}



      {% set combinedData = eventRows.concat(transactionRows) %}
      {% set cardTitleHtml %}
        {{ createTag(transaction, automatedSources, faiSources, siraSources)}}
      {% endset %}

      {{ govukSummaryList({ classes: "govuk-!-margin-bottom-4 govuk-!-font-size-16", card: {
        title: {
          headingLevel: 3,
          classes: "govuk-fraud-summary-card__title govuk-grid-column-full govuk-!-padding-0 govuk-!-margin-0",
          html: cardTitleHtml
        }
      }, rows: combinedData }) }}

    {% endfor %}
  {% endif %}


{% if accountHistory and accountHistory.length %}
  <h2 class="govuk-heading-m govuk-!-margin-top-7">Field descriptions</h2>
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Originating Component"
        },
        value: {
          html: 'The component id of the application in which the intervention originator, i.e., ticket, case, assessment, etc., that triggered the intervention.<br>
          <a href="https://event-catalogue.internal.account.gov.uk/attributes/extensions-intervention-originating_component_id/" class="govuk-link">View in event catalogue</a>'
        }
      },
      {
        key: {
          text: "Originator Reference ID"
        },
        value: {
          html: 'The unique id of the ticket, case, risk assessment, etc., from which the intervention resulted.<br>
          <a href="https://event-catalogue.internal.account.gov.uk/attributes/extensions-intervention-originator_reference_id/" class="govuk-link">View in event catalogue</a>'
        }
      },
      {
        key: {
          text: "Requester ID"
        },
        value: {
          html: 'The unique id used by the originating component to identify the user who triggered the intervention - will be a number or GUID, must not be personal identifying - must be provided if a manual intervention.<br>
          <a href="https://event-catalogue.internal.account.gov.uk/attributes/extensions-intervention-requester_id/" class="govuk-link">View in event catalogue</a>'
        }
      }
    ]
  })}}
{% else %}
  <p class="govuk-body-s">No history available for this account.</p>
{% endif %}
