{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
<h2 class="govuk-heading-l govuk-!-margin-top-8">{{ pageTitle }}</h2>
{% if accountHistory and accountHistory.length %}
  {% set accordionArray = [] %}
  {% for transaction in accountHistory %}
        {% set tagDescription = "UNAVAILABLE" %}
        {% set tagColour = "grey" %}

        {% if not transaction.originatingComponent %}
          {% set tagDescription = "UNAVAILABLE" %}
          {% set tagColour = "grey" %}
        {% elif transaction.originatingComponent in automatedSources %}
          {% set tagDescription = "AUTOMATED" %}
          {% set tagColour = "purple" %}
        {% elif transaction.originatingComponent in faiSources %}
          {% set tagDescription = "FAI" %}
          {% set tagColour = "teal" %}
        {% elif transaction.originatingComponent in siraSources %}
          {% set tagDescription = "SIRA" %}
          {% set tagColour = "teal" %}
        {% endif %}

    <div>
      {% set transactionRows = [
          { key: { text: "Component" },  value: { text: transaction.componentId } },
          { key: { text: "Reason" },     value: { text: transaction.interventionReason } },
          { key: { text: "Code" },       value: { text: transaction.interventionCode if transaction.interventionCode else "N/A" } },
          { key: { text: "Originating Component" }, value: { text: transaction.originatingComponent if transaction.originatingComponent else "N/A" } },
          { key: { text: "Originator Reference ID" }, value: { text: transaction.originatorReferenceId if transaction.originatorReferenceId else "N/A" } },
          { key: { text: "Requester ID" }, value: { text: transaction.requesterId if transaction.requesterId else "N/A" } }
        ] %}

      {% set eventRowsAccordion = [] %}
      {% if transaction.interventionEvents.length %}
        {% set eventRows = [] %}
        {% for event in transaction.interventionEvents %}
          {% if event.showState == true %}
            {% if event.interventionState == "ACTIVE" %}
              {% set stateColour = "red" %}
            {% elif event.interventionState == "MITIGATED" %}
              {% set stateColour = "green" %}
            {% elif event.interventionState == "REMOVED" %}
              {% set stateColour = "grey" %}
            {% elif event.interventionState == "SUPERSEDED" %}
              {% set stateColour = "orange" %}
            {% elif event.interventionState == "IGNORED" %}
              {% set stateColour = "yellow" %}
            {% else %}
              {% set stateColour = "blue" %}
            {% endif %}

           {% set eventRowsAccordion = (eventRowsAccordion.push({
                key: { text: interventionTypeMap[event.interventionName] },
                value: { html: '<strong class="govuk-tag govuk-tag--' + stateColour + '">' + event.displayState + '</strong>' }
            }), eventRowsAccordion) %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>

    {% set accordionItem %}
      {{ govukSummaryList({ classes: "govuk-!-margin-bottom-4 govuk-!-font-size-16", rows: transactionRows }) }}
      {{ govukSummaryList({ classes: "govuk-!-margin-bottom-4 govuk-!-font-size-16", rows: eventRowsAccordion }) }}
    {% endset %}

    {% set setAccordionSummary %}
      <strong class="govuk-tag govuk-tag--{{ tagColour }} govuk-!-display-inline-block"><span class="govuk-visually-hidden">Source</span> {{ tagDescription }}</strong>
    {% endset %}

    {% set accordionArray = (accordionArray.push({
      heading: { text: transaction.sentAtFormatted },
      summary: { html: setAccordionSummary },
      content: { html: accordionItem }
    }), accordionArray) %}
  {% endfor %}

  {{ govukAccordion({
    headingLevel: 3,
    id: "accordion-for-intervention-history",
    items: accordionArray
  }) }}

  <h2 class="govuk-heading-m govuk-!-margin-top-7">Field descriptions</h2>
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Originating Component"
        },
        value: {
          html: 'The component id of the application in which the intervention originator, i.e., ticket, case, assessment, etc., that triggered the intervention.<br>
          <a href="https://event-catalogue.internal.account.gov.uk/attributes/extensions-intervention-originating_component_id/" class="govuk-link">View in event catalogue</a>'
        }
      },
      {
        key: {
          text: "Originator Reference ID"
        },
        value: {
          html: 'The unique id of the ticket, case, risk assessment, etc., from which the intervention resulted.<br>
          <a href="https://event-catalogue.internal.account.gov.uk/attributes/extensions-intervention-originator_reference_id/" class="govuk-link">View in event catalogue</a>'
        }
      },
      {
        key: {
          text: "Requester ID"
        },
        value: {
          html: 'The unique id used by the originating component to identify the user who triggered the intervention - will be a number or GUID, must not be personal identifying - must be provided if a manual intervention.<br>
          <a href="https://event-catalogue.internal.account.gov.uk/attributes/extensions-intervention-requester_id/" class="govuk-link">View in event catalogue</a>'
        }
      }
    ]
  })}}
{% else %}
  <p class="govuk-body-s">No history available for this account.</p>
{% endif %}
