{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set govukRebrand = true %}
{% set serviceName = "GOV.UK One Login Account Interventions Service" %}

{% block pageTitle %}Account Interventions Service – GOV.UK{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ stagePrefix }}/assets/govuk-frontend.min.css">
{% endblock %}

{% block header %}
  {{
    govukHeader({
      productName: "One Login Account Interventions Service",
      homepageUrl: "/"
    })
  }}

  {{ govukServiceNavigation({
    navigation: navigationItems,
    classes: navigationClasses
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://signin.account.gov.uk/accessibility-statement",
            text: 'Accessibility statement'
          },
          {
            href: "https://signin.account.gov.uk/cookies",
            text: 'Cookies'
          },
          {
            href: "https://signin.account.gov.uk/terms-and-conditions",
            text: 'Terms and conditions'
          },
          {
              href: "https://signin.account.gov.uk/privacy-notice",
              text: 'Privacy notice'
          }
        ]
      },
      contentLicence: {
        html: 'All content is available under the <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated'
      },
      copyright: {
        text: '© Crown copyright'
      }
    }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ stagePrefix }}/assets/govuk-frontend.min.js" nonce="{{ nonceValue }}"></script>
  <script type="module" nonce="{{ nonceValue }}">
    import { initAll } from '{{ stagePrefix }}/assets/govuk-frontend.min.js'
    initAll()
  </script>
  {% block scripts %}{% endblock %}
{% endblock %}
