{% extends "base.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% block content %}
  {{ govukBackLink({ text: "Back", href: stagePrefix + "/" }) }}
  {% if messageSent %}
    {{ govukNotificationBanner({
      type: "success",
      html: "<p class=\"govuk-body\">TxMA message sent for user <strong>" + userId + "</strong>.</p>"
    }) }}
  {% endif %}
  <h1 class="govuk-heading-xl">Account Status</h1>
  <p class="govuk-body">User ID:
    <strong>{{ userId }}</strong>
  </p>
  <h1 class="govuk-heading-l">Active Interventions</h1>
  {% if accountStatus %}
    {% if accountStatus.interventions.length %}
      {% set rows = [] %}
      {% for intervention in accountStatus.interventions %}
        {% set rows = rows.concat([{
          key: { text: intervention.name },
          value: { html: '<strong class="govuk-tag govuk-tag--red">Active</strong>' }
        }]) %}
      {% endfor %}
      {{ govukSummaryList({ rows: rows }) }}
    {% else %}
      <p class="govuk-body">There are no active interventions on this account.</p>
    {% endif %}
  {% else %}
    <p class="govuk-body">No account found for this identifier.</p>
  {% endif %}
  <h2 class="govuk-heading-m">History</h2>
  {% if accountHistory and accountHistory.history and accountHistory.history.length %}
    {% for item in accountHistory.history %}
      {% if item.interventionState == "ACTIVE" %}
        {% set stateColour = "red" %}
      {% elif item.interventionState == "MITIGATED" %}
        {% set stateColour = "green" %}
      {% elif item.interventionState == "REMOVED" %}
        {% set stateColour = "grey" %}
      {% elif item.interventionState == "SUPERSEDED" %}
        {% set stateColour = "orange" %}
      {% elif item.interventionState == "IGNORED" %}
        {% set stateColour = "yellow" %}
      {% else %}
        {% set stateColour = "blue" %}
      {% endif %}
      {% set historyRows = [
        { key: { text: "Component" },  value: { text: item.componentId } },
        { key: { text: "Reason" },     value: { text: item.interventionReason } }
      ] %}
      {% if item.interventionCode %}
        {% set historyRows = historyRows.concat([{ key: { text: "Code" }, value: { text: item.interventionCode } }]) %}
      {% endif %}
      {% if item.originatingComponent %}
        {% set historyRows = historyRows.concat([{ key: { text: "Originating Component" }, value: { text: item.originatingComponent } }]) %}
      {% endif %}
      {% if item.originatorReferenceId %}
        {% set historyRows = historyRows.concat([{ key: { text: "Originator Reference ID" }, value: { text: item.originatorReferenceId } }]) %}
      {% endif %}
      {% if item.requesterId %}
        {% set historyRows = historyRows.concat([{ key: { text: "Requester ID" }, value: { text: item.requesterId } }]) %}
      {% endif %}
      <div class="govuk-inset-text govuk-!-margin-bottom-5">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          {{ item.interventionName }}
          <strong class="govuk-tag govuk-tag--{{ stateColour }} govuk-!-margin-left-2">{{ item.interventionState }}</strong>
        </h3>
        <p class="govuk-body-xs govuk-hint govuk-!-margin-bottom-4">Sent:
          <strong>{{ item.sentAt }}</strong>
        </p>
        {{ govukSummaryList({ classes: "govuk-!-margin-bottom-0 govuk-!-font-size-16", rows: historyRows }) }}
      </div>
    {% endfor %}
  {% else %}
    <p class="govuk-body-s">No history available for this account.</p>
  {% endif %}
  <form method="post" action="{{ stagePrefix }}/send">
    <input type="hidden" name="userId" value="{{ userId }}">
      {{ govukButton({ text: "Send TxMA Message" }) }}
    </form>
  {% endblock %}