{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% block content %}
  {{ govukBackLink({ text: "Back", href: pathPrefix + "/" }) }}
  {% if messageSent %}
    {{ govukNotificationBanner({
      type: "success",
      html: "<p class=\"govuk-body\">TxMA message sent for user <strong>" + userId + "</strong>.</p>"
    }) }}
  {% endif %}
  <h1 class="govuk-heading-xl">Account Status</h1>
  <p class="govuk-body">User ID:
    <strong>{{ userId }}</strong>
  </p>
  {% include "user/_active-interventions.njk" %}
  {% include "user/_history.njk" %}
  {% include "user/_send-txma-form.njk" %}
{% endblock %}
