  {% if not transaction.originatingComponentId %}
    {% set tagDescription = "SOURCE UNKNOWN" %}
    {% set tagColour = "grey" %}
  {% elif transaction.originatingComponentId in automatedSources %}
    {% set tagDescription = "AUTOMATED" %}
    {% set tagColour = "purple" %}
  {% elif transaction.originatingComponentId in manualSources %}
    {% set tagDescription = "MANUAL" %}
    {% set tagColour = "teal" %}
  {% else %}
    {% set tagDescription = transaction.originatingComponentId %}
    {% set tagColour = "grey" %}
  {% endif %}

  <span>{{ transaction.sentAtFormatted }}</span>
  <span>  <strong class="govuk-!-font-size-16 govuk-tag govuk-tag--{{ tagColour }}">{{ tagDescription }}</strong></span>
